---
import { getCollection } from 'astro:content'
const products = await getCollection('products')
---

<div class='gallery'>
    {products.map(product => (
        <a class='gallery-item' href=`/products/${product.slug}`>
            <img src={product.data.image} alt={product.data.title} />
            <div class='gallery-item__body'>
                <h3>{product.data.title}</h3>
                <p>{product.body}</p>
            </div>
        </a>
    ))}
</div>