---
import { getCollection, getEntryBySlug } from 'astro:content'
import Default from '@layouts/default.astro'
import Product from '@components/sections/content/Product.vue'

export function getStaticPaths() {
    return [
        { params: { slug: 'danche' } },
        { params: { slug: 'gran-espresso' } },
        { params: { slug: 'piccollo' } },
        { params: { slug: 'planalto' } }
    ]
}

const { slug } = Astro.params
const product = await getEntryBySlug('products', slug)
const products = await getCollection('products',
    ({ data }) => {
        return data.title !== product.data.title
    })
---

<Default>
    <main>
        <section class='grid-columns-[12]'>
            <div class='col-start-2 col-span-2 flex-column-[4]'>
                {products.map(product => (
                    <a class='gallery-item' href=`/products/${product.slug}`>
                        <img src={product.data.image} alt={product.data.title} />
                    </a>
                ))}
            </div>
            <Product client:visible
                     title={product.data.title}
                     description={product.body}
                     image={product.data.image}
                     price={product.data.price}
            />
        </section>
    </main>
</Default>