---
import Header from '@components/layouts/Header.astro'
import GlobalMeta from '@components/sections/meta/_global.astro'
import SiteMeta from '@components/sections/meta/_site.astro'
import OGFacebook from '@components/sections/meta/_OGFacebook.astro'
import OGTwitter from '@components/sections/meta/_OGTwitter.astro'

const title = 'Coffeeroasters'
const description = 'Website for coffee lovers'
---

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
        href='https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=Fraunces:wght@700&display=swap'
        rel='stylesheet'
    />
    <title>{title}</title>
    <GlobalMeta />
    <SiteMeta title={title} description={description} />
    <OGFacebook title={title} description={description} />
    <OGTwitter title={title} description={description} />
</head>
<body>
<Header />
<slot />
</body>
</html>